*{
    box-sizing: border-box;
}
body{
    background-color: grey;
    width: 100%;
}
#Hos{
    color: black;
    position: absolute;
    top: 100px;
    left:25% ;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#con{
    display: flex;
    justify-content: space-around;
}
a{
    color: black;
    text-decoration: none;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:hover{
    color: orangered;
}
#icon{
    position: absolute;
    top: 60px;
}
@media screen and (max-width:575px) {
#Hos{
    color: black;
    position: fixed;
    top: 75%;
    left:1% ;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color: black;
    text-decoration: none;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#icon{
    position: absolute;
    top: 100px;    
}
}
   